@import "tailwindcss";

/* Μηδενισμός περιθωρίων για να πιάνει όλη την οθόνη */
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #050505; /* Το απόλυτο μαύρο */
  overflow-x: hidden;
}

/* Το κινούμενο Grid Background */
.tech-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: 
    linear-gradient(rgba(0, 255, 65, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 65, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: center center;
  pointer-events: none;
  animation: bg-move 60s linear infinite;
}

@keyframes bg-move {
  from { background-position: 0 0; }
  to { background-position: 0 1000px; }
}

/* Scanlines εφέ πάνω από όλα */
.scanlines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%, 
    rgba(0, 0, 0, 0.1) 50%
  );
  background-size: 100% 4px;
  pointer-events: none;
  opacity: 0.3;
}